extends templates/main  


block title
    title= movie.title
    script. 
        const movieId = !{movieId};
block content 
    - const id = movie.id
    main.main 
        a(href="/").home-page
            h2 Back to the home page
        .title-div
            h1.movie-title= movie.title 
        img.movie-img(src=movie.image.url, alt="" style="width: 25rem;")

        .movie-desc!= movie.intro
        .book-btns 
            button.change-city Välj stad
            button.view-tickets Visa biljetter 
        form.review-box
            h3.review-title Skapa recension
            input(type="text" placeholder="Skriv en recension...").review-input
            label(for="rating").rating-label Betyg 
            select.rating-input(name="rating") 
                option(value="0").select-option 0
                option(value="1").select-option 1
                option(value="2").select-option 2
                option(value="3").select-option 3
                option(value="4").select-option 4
                option(value="5").select-option 5
            input(type="text" placeholder="Namn...").name-input
            button(type="submit").review-btn Skicka
            p.error-message Alla fält måste vara ifyllda
        section.screeningsID-container 
            h3.screeningsID-title Kommande visningar av #{movie.title}
            ul.screeningsID-list


    article.review-article  
        h2.review-header Recensioner
        .review-div 
            ul.review-ul      
        .review-button
            button.review-prev Föregående
            button.review-next Nästa
        script(type="module" src="../static/reviews.js")

